/* Style général */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

/* Style de l'en-tête */
header {
  background-color: #1a2a6c;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-bar h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-bar ul {
  display: flex;
}

.nav-bar li {
  list-style: none;
  margin-right: 20px;
}

.nav-bar li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-bar li a:hover {
  color: #f7df1e;
}

/* Style de la section d'accueil */
.image-accueil {
  background-color: #f7df1e;
  text-align: center;
  padding: 50px;
}

.clavier {
  max-width: 100%;
  height: auto;
}

.un {
  margin-top: 30px;
  font-size: 2rem;
  font-weight: bold;
}

/* Style de la section "A propos de moi" */
#apropo {
  background-color: #fff;
  padding: 50px;
}

.info-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bouna {
  border-radius: 50%;
  margin-right: 50px;
  max-width: 100%;
  height: auto;
}

.item {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

#presentation {
  margin-top: 30px;
  font-size: 2rem;
  font-weight: bold;
}

/* Style de la section "Compétences" */
#co-mpet {
  background-color: #f7df1e;
  text-align: center;
  padding: 50px;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.article {
  width: 30%;
  margin-bottom: 50px;
}

.article h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.image2 {
  max-width: 100%;
  height: auto;
}

/* Style du pied de page */
#footer {
  background-color: #1a2a6c;
  color: #fff;
  padding: 50px;
}

.colonne {
  width: 33.33%;
  padding: 0 20px;
}

.colonne h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.colonne p {
  margin-bottom: 10px;
}

/* Style pour rendre le portfolio responsive */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .nav-bar h1 {
    margin-bottom: 20px;
  }

  .nav-bar ul {
    margin-top: 20px;
  }

}
